.vscode/**
.vscode
Compiler/C++/compiler.exe
IDE/build-IDE-Desktop_Qt_5_12_9_MinGW_64_bit-Release/**
IDE/build-IDE-Desktop_Qt_5_12_9_MinGW_64_bit-Release
IDE/build-IDE-Desktop_Qt_5_12_9_MinGW_64_bit-Debug/**
IDE/build-IDE-Desktop_Qt_5_12_9_MinGW_64_bit-Debug
IDE/IDE/compiler.exe
Save/**
Save
IDE License.txt
IDE/Build
IDE/Build/**
Compiler/C#/Compiler/bin
Compiler/C#/Compiler/bin/**
Compiler/C#/Compiler/obj
Compiler/C#/Compiler/obj/**
Compiler/C#/Compiler/.vs
Compiler/C#/Compiler/.vs/**
**/compiler.exe